.maincard{
    border-radius: 0.4375rem!important;
    border: 1px solid #000!important;
    display: flex;
    flex-direction: column;
    gap: 5%;
    background-color: rgb(245 245 245)!important;
.HeadTodo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 10%!important;
    width: 100%;
    .HeadTodocont {
        width: 90%;
    }
    .HeadTodo1{
        width: 90%;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: flex-start;
        gap: 0.7em;
        .Point{
            height: 15%!important;

        }
        .notif{
            border-radius: 0.4375rem;
            background: #E0E0E0;
            width: 1.25rem;
            height: 1.25rem;
            display: flex;
            justify-content: center;
            align-items: center;

            .txtnotif{
                color: #625F6D;
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 600!important;
                line-height: normal;            }
        }
        .txt{
            font-size: 1em;
            font-family: "AeonikTRIAL"!important;
            font-weight: 600!important;

        }
        .AddbutDiv{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 62%;
            cursor: pointer;

        }
        

    }
    .BarDiv{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        .Bar{
            width: 100%;
         }

    }
    
    
}
.CorpsTodo{
    height: 85%!important;
    width: 100%;
    overflow: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1%;

    
    .center{
        width: 95%;
        .CardTask{
            transition: transform 0.2s ease; /* Add smooth transition effect */
        }
        .CardTask:active {
            transform: rotate(0.02turn);
          }
          
    }
}}
.CorpsTodo::-webkit-scrollbar {
    width: 2px; 
  }
  
  .CorpsTodo::-webkit-scrollbar-thumb {
    background-color: #ccc; 
    border-radius: 10px;
  }
  
  .CorpsTodo::-webkit-scrollbar-track {
    background-color: transparent; 
  }
  