/* style.module.scss */

.container {
    display: flex;
    .sidebar {
    /* Styles spécifiques à la sidebar */
  }
    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 100vh;
    }
  
  }
  
  
  
  /* Pour un positionnement fixe de la navbar en haut, vous pouvez utiliser position: fixed; top: 0; left: 0; */
  