.Main{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom:2% ;

    .Main1{
        width: 90%;



        .Title{
            font-weight: 520!important;


        }
        .Subtitle{
            color: rgba(0, 0, 0, 0.496);
            width: 70%;
            max-width: 70%;
            font-size: 18px;
            
        }
    }
    }


