.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; // Ensures the loader takes the full viewport height
  }
  
//   .special-section.loader {
//     // Additional styles for the special-section if needed
//   }
  
//   .rotate-letter {
//     display: inline-block;
//     animation: rotateLetter 5s infinite linear; // Adjust the timing as needed
//   }
  
//   @keyframes rotateLetter {
//     from {
//       transform: rotate(0deg);
//     }
//     to {
//       transform: rotate(360deg);
//     }
//   }

