.prices-container{
    display: flex;
    width: 80%;
    gap: 10px;
    margin-top: 50px;
    position: relative;

}
.prices{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.prices .price-div{
    background: #F9F9F9;
    padding: 30px 70px;
    border-radius: 10px;
    position: relative;
    width: 100%;
}
.price-div h1,.price-div h2{
    font-family: "GrifterBold", sans-serif; 
    position: relative;
}
.starGroup {
    position: absolute;
    top: -20px;
    left: -20px;
}

.price-div p {
    font-size: 12px;
    color: #757575;
}
.funky-panda{
    position: absolute;
    z-index: 0;
    top: -140px;
}
.customButton{
    border: none;
    font-family: "AeonikRegular", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 19px !important;

    
}
.packText{
    color: #000;

    font-family: "AeonikRegular", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.positionSvg-left {
    position: relative;
    padding-left: 65%;
    justify-content: left !important; /* Align items to the left */
}
.pricedivfirst{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .pricedivfirst{
        height: 18vh;
    }
    .soustitrepar{
        font-size: min(5vw,18px)!important;
        max-width: 200px;
    }
    .price-divflex{
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100%;
    }
    .prices-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 20px;
    }
    .funky-panda{
        position: absolute;
        z-index: 0;
        top: -140px;
        right: 2%;
    }
   
    .phoneJustifyContent {
        display: flex;
        flex-direction: column;
        align-items: start; /* Center items vertically */
        justify-content: center; /* Center items horizontally */
        text-align: center; /* Center text within the div */
        margin-top: 20px; /* Adjust as needed */
    }
    .justifyContentCenter{
        width: 100%;
        padding-top: 5%;
        display: flex;
        justify-content: center;
    }
    .positionSvg-left {
        position: relative;
        padding: 0;
        margin: 0;
    }
    .starGroup {
        position: absolute;
        top: -20px;
        left: -9px;
    }
    .price-div{
        width: 80%!important;
    }
    .customButton{
        border: none;
        width: 100% !important;
        font-family: "AeonikRegular", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        margin: 19px !important;
        line-height: normal;
        box-shadow: 5px 5px 0px -2px rgba(0,0,0,1);
-webkit-box-shadow: 5px 5px 0px -2px rgba(0,0,0,1);
-moz-box-shadow: 5px 5px 0px -2px rgba(0,0,0,1);
    }
    .h2-phoneSize{
        font-size: 29px !important;
    }
}

.price-div0{
    width: 25%;
}
.titlePrice3{
    display: flex;
    align-items: center;
    height: 9%;
    font-size: min(3vw,32px);    
    font-weight: 700;
    font-family: "GrifterBold", sans-serif; 

  }
  .priceDivyes{
    padding-top: 1%!important;
  }