.BodyTabLigne{
    display: flex;
    gap: 3%;
    width: 100%!important;
    height:3em;
    align-items: center;
    justify-content: flex-end;
    border-radius: 9px;
    .BigcONT{
        display: flex;
        gap: 1%;
        width: 97.5%!important;
        border-radius: 9px;
        height: 80%;
        justify-content: center;
        align-items: center;
        

    }
    .FakeCont{
        height: 1em!important;
    }
    .ItemCont{
        align-items: baseline;
        display: flex;
        justify-content: center;
        width: 20%;

        height: 100% !important;
    
    
        .Item{
            display: flex;
            align-items: center;
            justify-content: center;

            height: 100%;
            width: 100%;
            gap: 15%;
            
            .Check_Cat{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 25%;
                gap: 60%;
                .ArrowRight{
                    cursor: pointer!important;
                    height: 1em;
                    width: 2em;

                } 

                .Checkbox{
                    height: 1.1em;
                    width: 1.1em;
                    cursor: pointer!important;
                }

            }
            .Img_Txt{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 62%;
                gap: 10%;

                .ItemImg{
                    height: 35px;
                    width: 35px;


                }
                .Ptxt{
                    width: 13em;
                    font-size: 1vw;
                    font-family: 'AeonikTRIAL';
                    font-size: min(1vw, 30px); /* Adjust the maximum value as per your requirement */
                    font-size: max(18px); /* Adjust the maximum value as per your requirement */


                }

            }


            
        }

    }
    .StatusCont{
        width: 13%!important;
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100% !important;


        .Status{
            width: 100%!important;
            display: flex;
            align-items: center;
            justify-content: center;



            .StatusButt{
                width: 6.7vw;
                height: 2em;
                border: 0px solid black;
                border-radius: 7px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer!important;

                .Ptxt{
                    height: 58%;
                    
                }

        }


        
        }
    }
    .Req{
        width: 20%!important;

        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        .ReqCont{
            width: 82%;
            display: flex;
            justify-content: center;
            align-items: center;
    
            .Ptxt{
                height: 40%;
                color: rgba(0, 0, 0, 0.427);
            }

        }
        

    }
    .Designer{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%!important;


        .DesignerCont{

            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-direction: row;
            gap: 10%;
            width: 100%;

            .leFlex{
                width: 62%;
                align-items: center;
                flex-direction: row;
                gap:0.5em!important;

                
                .Img2{
                border-radius: 50%;
                height: 10%;
                width: 15%;

            }
                .Ptxt{

                }
            }
            
        }
        

    }
    .Sub{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%!important;



        .SubCont{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            gap: 10%;
            width: 60%;
            max-width: 6.4em!important;
            .leFlex{
                width: 96%;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                gap:0.5em!important;
            .Img{
                border-radius: 50%;
                height: 25pc;
                width: 25px;
            }
            .Img2{
                border-radius: 50%;
            }

            .Ptxt{

            }}
        }
    }






}

.BodyTabLigne:hover {
    background-color: #b0b0b04f; /* Adjust the color as needed */
}
.redBackground {
    background-color: red;
  }
  