.Main{
    height: 85%;
    width: 100%;
    
    max-height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    .center{
        width: 95%;
        height: 100%;
        .allProject{
            height: 85% !important;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;            
            .ListProject{
                display: flex;
                gap: 10px;
                height: 100% !important;
                width: 99% !important;
                flex-wrap: wrap;
                overflow: auto;
       
            }
       
           }

        .Title{
            height: 15% !important;
            .pTeam{
                color: #737373;
                font-family: "AeonikTrial";
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 500;
                line-height: 150%; /* 1.125rem */            }
            .h3Team{
                color: #000;
                font-family: "AeonikTrial";
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 500;
                line-height: 140%; /* 1.575rem */            }

        }
         
     }
 
 
   
        

        
    }
    .ListProject::-webkit-scrollbar {
        width: 5px; 
      }
      
      .ListProject::-webkit-scrollbar-thumb {
        background-color: #ccc; 
        border-radius: 10px;
      }
      
      .ListProject::-webkit-scrollbar-track {
        background-color: transparent; 
      }
      